body {
  background: #a1488c;
  width: 210px;
  padding: 16px;
  font-family: "PT Sans";
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #fff;
}

a {
  color: #fff;
  text-shadow: 1px 1px 0px #58155a;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 350px;
}

header {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #58155a;
}
header img.head {
  height: 50px;
  margin-right: 10px;
}
header img {
  height: 30px;
}

main {
  flex-grow: 1;
}

h2 {
  font-family: "Carter One";
  font-weight: normal;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #fff;
  text-shadow: 2px 2px 0px #58155a;
}

.opt label {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
}

.opt label span{
  flex: 1;
  padding-right: 8px;
  line-height: 14px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 14px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 14px;
  background-color: #A1488C;
  transition: .4s;
  border: 1px solid #58155A;
  outline-radius: 14px;
}

.slider:before {
  border-radius: 100%;
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 1px;
  background-color: #58155A;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

input:checked + .slider:before {
  transform: translateX(15px);
}

button {
  text-align: center;
  background: #fff;
  padding: 8px 16px;
  font-family: "Carter One";
  font-weight: normal;
  font-size: 18px;
  color: #a1488c;
  box-shadow: 3px 3px 0px #58155a;
  margin: 10px 0;
  display: flex;
  width: 100%;
  outline: 0!important;
  border: 0;
  border-radius: 0;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #58155a;
}
